<div>
    {{#each productos}}
        <div>
            <a href="/producto/{{this.name}}"></a>
            <b>{{this.name}}</b>
            <b>{{this.stock}}</b>
            <img src="{{this.img}}" alt="imagen-producto">
            <i>{{this.desc}}</i>
        </div>
    {{/each}}    
</div>